
@section Css
    {
    <style>
        .row {
            margin-top: 5px;
        }
    </style>
}
<div class="row">
    <div class="col-md-4">
        <span style="font-weight:bold">IP:</span><input type="text" class="form-control" style="display:inline" value="127.0.0.1:5002" name="ip" id="ip" />
    </div>
    <div class="col-md-2">
        <button class="btn btn-default" onclick="GetAction()">加载actions</button>
    </div>
    <div class="col-md-4">
        <span style="font-weight:bold">JWT Key:</span><input type="text" class="form-control" style="display:inline" value="" name="jwtkey" id="jwtkey" />
    </div>
    <div class="col-md-2">
        <button class="btn btn-default" onclick="Sava()">保存配置</button>
    </div>
</div>

<div class="row">
    <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
        <thead>
            <tr>
                <th>注释</th>
                <th>Controller名称</th>
                <th>地址</th>
                <th>谓词</th>
                <th>是否Token验证</th>
            </tr>
        </thead>
        <tbody id="actiontr">
            
        </tbody>
    </table>
</div>
@section Scripts
    {

    <!--tr模版-->
    <script type="text/x-template" id="action-tr">
        <tr>
            <td>{{action.commentaries}}</td>
            <td>{{action.controllername}}</td>
            <td>{{action.actionname}}</td>
            <td><span v-for="pre in action.predicates">{{pre}}&nbsp;&nbsp;</span></td>
            <td><input type="checkbox" id="checkbox" v-model="action.isauthzation"></td>
        </tr>
    </script>
    <script>

        //用户组件
        Vue.component("action-row", {
            props: ["action"],
            template: '#action-tr'       
        })

        var actionJson;
        function GetAction() {
            $("#actiontr").html('<tr is="action-row" v-for="action in actions"  v-bind:action="action"></tr>');
            $.get("/getserver", { ip: $("#ip").val() }, function (backData) {
                actionJson = backData.data;

                new Vue({
                    el: "#actiontr",
                    data: {
                        actions: backData.data
                    }
                });            
            })
        }

        function Sava() {
            $.post("/savaconfig", { actions: actionJson, jwtkey: $("#jwtkey").val(), ip: $("#ip").val() }, function (backData) {
                if (backData.result != 1) {
                    alert(backData.message);
                } else {
                    alert("保存成功！");
                }
            })
        }
    </script>
}
